# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
web-build/

# Expo & Mobile
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Unity Build & Temporary Folders
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
ar/unity/Library/
ar/unity/Temp/
ar/unity/Obj/
ar/unity/Build/
ar/unity/Builds/
ar/unity/Logs/
ar/unity/UserSettings/

# OS and Editor Files
.DS_Store
Thumbs.db
*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.user
*.userprefs

# Environment files
.env
.env.*
*.env
